<h1>New Stunde</h1>
<%= form_for :stunde, url: stunden_path do |u| %>
	<p>
		<%= u.label :date %><br>
		<%= u.datetime_select :date %>
	</p>
	<p>
		<%= u.label :notes %><br>
		<%= u.text_field :notes %>
	</p>
	<p>
		TODO: Lesson ID
	</p>
	<p>
		<%= u.submit %>
	</p>
<% end %>
	
