<h1>New Stunde</h1>
<%= form_for :stunde, url: stunden_path do |u| %>
	<p>
		<%= u.label :date %><br>
		<%= u.datetime_select :date %>
	</p>
	<p>
		<%= u.label :endtime %><br>
		<%= u.datetime_select :endtime %>
	</p>
	<p>
		<%= u.label :notes %><br>
		<%= u.text_field :notes %>
	</p>
	<p>
		<%= u.label :tutor %><br>
		<%= u.text_field :tutor %>
	</p>
	<p>
		<%= u.label :location %><br>
		<%= u.text_field :location %>
	</p>
	<p>
		<%= u.label :duration %><br>
		<%= u.text_field :duration %>
	</p>
	<p>
		<%= u.submit %>
	</p>
<% end %>
	
