<h1>Stunde</h1>
	<p>
		Date: <%= @stunde.date %>
	</p>
	<p>
		Mail: <%= @stunde.notes %>
	</p>
	<p>
		Duration: <%= @stunde.duration %>
	</p>
	<p>
		Endtime: <%= @stunde.endtime %>
	</p>
	<p>
		Tutor: <%= @stunde.tutor %>
	</p>
	<p>
		Location: <%= @stunde.location %>
	</p>
	<p>
		User: <%= @stunde.user.name %>
	</p>
	<p>
		<a href="<%= url_for :controller => 'stunden', :action => 'new' %>">New Stunde</a>
	</p>
